@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header .navbar {
    position: fixed;
    /* background-color: rgb(78, 29, 29); */
    /* color: #e3e3e3;
    box-shadow: 0 0 2px 2px rgb(123, 59, 59); */
    z-index: 999;
    height: 12vh;
}

header .navbar-brand {
    /* padding-left: 6rem; */
    font-family: 'Montserrat', sans-serif;
    /* color: rgb(255, 255, 255); */
    font-size: 1.5rem;
    display: flex;
    letter-spacing: 2.5px;
    transition-duration: 0.5s;
}

header .navbar-brand:hover{
    cursor: pointer;
    color: rgb(182, 95, 110);
}

.navbar-nav {
    margin-left: 20%;
    font-size: 1rem;
     font-family: 'Montserrat', sans-serif;
    letter-spacing: 2.5px;
    transition-duration: 0.5s;
}

.navbar-nav :hover {
    border-top: none;
    border-bottom: 2px solid rgb(78, 29, 29);
    cursor: pointer;
}
